@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --babyPink: #F7E7ED;
  --textPink: #F701B2;
  --lightPink: #EDB5E1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}
body {
  width: 100vw;
  background-color: var(--babyPink);
  overflow-x: hidden;
  position: relative;
}
#root {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
}
.header img {
  border-radius: 50%;
  width: 30%;
  height: 30%;
}
.header p {
  width: 100%;
  /* padding-right: 2rem; */
  text-align: right;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.header h1 {
  color: var(--textPink);
  font-size: 50px;
}
.header button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 17px;
  cursor: pointer;
}
.wishes {
  background-color: white;
  color: black;
  border-radius: 20px;
  font-style: italic;
  margin: auto;
  padding: 1.5rem 1rem;
  border: 2rem;
}
.wishes p {
  font-size: 18px;
  text-align: center;
}
.gallery {
  width: 100%;
}
.gallery h1 {
  color: black;
  background-color: var(--lightPink);
  text-align: center;
  width: fit-content;
  margin: 2rem auto;
  padding: 0.3rem 2rem;
  border-radius: 10px;
}
.gallery .photo-booth {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.gallery .photo-booth .booth-field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  width: 80%;
  padding: 1rem;
}
.gallery .photo {
  /* background-color: var(--textPink);
  border: 3px solid white; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
}
.gallery .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #F701B2;
  transition: 1s ease-in-out;
  cursor: pointer;
}
.gallery .photo img:hover {
  transform: scale(1.1);
}
.special {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.special p {
  text-align: center;
}
.special .title {
  font-size: 20px;
  text-decoration: underline;
}
.special img {
  width: 50%;
  margin: auto;
  cursor: pointer;
}
.special .credit {
  font-size: 14px;
  color: #F701B2;
}
.message {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 90%;
  margin: 0.5rem auto;
  border-radius: 50px;
  padding: 1rem;
  background-color: white;
  overflow-y: scroll;
}
.message p {
  text-align: justify;
  font-size: 20px;
}
.message .exit {
  background-color: #EDB5E1;
  padding: 0.5rem;
  width: fit-content;
  margin-left: 95%;
  font-size: 30px;
  font-weight: bolder;
  /* margin-right: 1.5rem; */
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .gallery .photo {
    /* background-color: var(--textPink);
    border: 3px solid white; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    /* gap: 1rem; */
  }
  .message p {
    font-size: 18px;
  }
}